@font-face {
    font-family: 'Playfair';
    font-weight: 400;
    src: url('../fonts/playfairsc/PlayfairDisplaySC-Regular.ttf') format('woff2');
  }
  @font-face {
    font-family: 'Playfair';
    font-weight: 700;
    src: url('../fonts/playfairsc/PlayfairDisplaySC-Bold.ttf') format('woff2');
  }
  @font-face {
    font-family: 'Helv';
    font-weight: 400;
    src: url('../fonts/playfairsc/HelveticaNeueCyr-Roman.ttf') format('woff2');
  }  
  @font-face {
    font-family: 'open-sans';
    font-weight: 400;
    src: url('../fonts/playfairsc/OpenSans-Regular.ttf') format('woff2');
  }  