.global-footer{
    background-color: #1f1d1d;
    padding-top: 9px;
    padding-bottom: 9px;
    &__body{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'open-sans', Arial, Helvetica, sans-serif;
        font-weight: 300;
        font-size: 12px;
        color: #fff;
        .rights{
            padding-left: 15px;
        }
        .developing-by{
            display: flex;
            align-items: center;
            color: #fff;
            .developing-logo{
                margin-left: 9px;
                width: 61px;
            }
        }
    }
}