.main-section--01{
    padding-right: 48px;
    padding-top: 75px;
    padding-bottom: 42px;
    display: flex;
    position: relative;
    &__contacts{
        position: absolute;
        top: 150px;
        right: 55px;
        .social-links{
            display: flex;
            li{
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 27px;
                    height: 27px;
                    margin-left: 5px;
                    border-radius: 50%;
                    &:hover{
                        background-color: #bb8f72;
                    }
                }
            }
        }
    }
    &__body{
        flex: 1 1 46%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 104px;
        padding-right: 130px;
        flex-grow: 0;
        box-sizing: border-box;
        position: relative;
        .body-logo{
            position: absolute;
            top: 25%;
            left: 0;
            width: 119%;
            z-index: -1;
            img{
                width: 100%;
            }
        }
        .count{
            // margin-top: 315px;
            margin-left: -30px;
            display: flex;
            align-items: flex-start;
            font-family: 'Playfair', Arial, Helvetica, sans-serif;
            font-weight: 700;
            color: #797071;
            &__current-number{
                font-size: 26px;
                color: #b18a71;
                line-height: 0.5;
            }
            &__total-number{
                font-size: 14px;
            }
        }
        .text-bar{
            margin-top: 35px;
            &__title {
                h1{
                    color: #1f1d1d;
                    font-size: 42px;
                    margin: 0;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-family: 'Playfair', Arial, Helvetica, sans-serif;
                }
            }
            &__discriotion{
                p{
                    font-size: 16px;
                    font-family: 'open-sans', Arial, Helvetica, sans-serif;
                    margin-top: 20px;
                    margin-bottom: 0;
                    color: #797071;
                    font-weight: 400;
                }
            }
        }
        hr{
            margin-top: 45px;
            position: relative;
            background-color: #bb8f72;
            width: 100%;
            &::after{
                content: '';
                display: block;
                height: 1px;
                width: 75%;
                left: 100%;
                top: -1px;
                background-color: #bb8f72;
                position: absolute;
            }
            &::before{
                content: '';
                left: 175%;
                height: 14px;
                width: 14px;
                top: -8px;
                background-color: #bb8f72;
                position: absolute;    
                border-radius: 50%;            
            }
        }
        .obg-link{
            margin-top: 45px;
            margin-left: -30px;
            padding: 10px 23px;
            display: inline-block;
            border: 2px solid #bb8f72;
            color: #bb8f72;
            font-family: 'Helv', Arial, Helvetica, sans-serif;
            font-style: 16px;
            transition: all 0.5s;
            &:hover{
                color: #fff;
                background-color: #bb8f72;
            }
        }
    }
    &__img-block{
        margin-top: 45px;
        flex: 0 0 54%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        img{
            width: 100%;
        }
    }
}